    header {
      text-align: center;
      background: url("images/books.JPG");
      background-size: cover;
      color: white;
      font-family: monospace;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
      background: #FEDBA6;
      font-family: monospace;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      width: 150px;
      height:150px;
    }
    ul {
      padding: 10px;
      background:rgba(0,0,0,0.5) ;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
     .cream{
        display: block;
        background-color: #FEDBA6;
     }
      .cream{
        font-family: monospace;
      }


    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
        font-family: monospace;
      }
      li {
        padding: 5px;
        display: block;
        
      }
     
    }
